<ion-view>
<ion-content>
<p>mainMenu har laddats in!!</p>
<div class="item item-divider">Välj först vilken glasstyp du önskar:</div>

  <label class="item item-radio">
    <input type="radio" name="glasstyp">
    <div class="item-content">Våffla</div>
    <i class="radio-icon ion-social-facebook"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="glasstyp">
    <div class="item-content">Cone</div>
    <i class="radio-icon ion-social-facebook"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="glasstyp">
    <div class="item-content">Bägare</div>
    <i class="radio-icon ion-social-facebook"></i>
  </label>

</div>
</ion-content>
</ion-view>
