<ion-view title="Gör dina val">
<ion-content>

<div class="item item-divider">Välj först vilken glasstyp du önskar:</div>
  <label class="item item-radio">
    <input type="radio" name="glasstyp">
    <div class="item-content">Våffla</div>
    <i class="radio-icon ion-social-facebook"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="glasstyp">
    <div class="item-content">Cone</div>
    <i class="radio-icon ion-social-facebook"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="glasstyp">
    <div class="item-content">Bägare</div>
    <i class="radio-icon ion-social-facebook"></i>
  </label>

  <a href="#/subMenu" class="button button-large">Submeny</a>
  <a href="#/myOrder" class="button button-large">myOrder</a>
  <a href="#/placeOrder" class="button button-large">placeOrder</a>


</ion-content>
</ion-view>
