<ion-view title="Beställ glass direkt i appen">
  <ion-content class="background padding">
    <div class="branding">
    <div class="logo">
    <a href="#/menu"><img src="img/ice-large.png" alt="Swirls Logo">
    </div>
    <ion-nav-view="mainMenu"></ion-nav-view>
    </a>
      <h1>Välkommen till Swirls</h1>
      <!-- Direktiv test -->
      <div class="start-page-dir"></div>
      <!-- Direktiv test slut -->
      <i class="icon ion-home"></i>
      Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Telefon: 08 550 800 80
    </div>
  </ion-content>
</ion-view>
